{% extends 'base.html.twig' %}

{% block title %}Loisir{% endblock %}

{% block body %}
    <h1>Loisir</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loisir.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ loisir.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ loisir.description }}</td>
            </tr>
            <tr>
                <th>Notation</th>
                <td>{{ loisir.notation }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ loisir.createdAt ? loisir.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_loisir_index') }}">back to list</a>

    <a href="{{ path('app_loisir_edit', {'id': loisir.id}) }}">edit</a>

    {{ include('loisir/_delete_form.html.twig') }}
{% endblock %}
